/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #96187b;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #333333;
}

p {
    color: #444444;
}

a {
    color: #333333;
    text-decoration: underline wavy blue
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #666666;
    font-weight: bold;
}

.link-social {
    color: #333;
    text-decoration:underline wavy black
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    background-color: blue;
}

#sobre {
    background-color: blue;
}

#habilidades {
    background-color: blue;
}

#projetos {
    background-color: blue;
}

#contato {
    background-color: black
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #222222;
}

footer p {
    color: rgb(255, 255, 255);
}
